{% extends 'base.html' %} {% block content %}

<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin:0;
    padding:0;
}


.card{
    height:350px;
    width:300px;
    border-radius:10px;
    background-color:rgb(243, 253, 253);
    overflow:hidden;
    cursor:pointer;

}
.border{
    height:220px;
    width:100%;
    border:2px solid black;
    background-color:#f8d3ba;
    border:none;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
   
}
.border:hover i{
    position:absolute;
    top:10px;
}
.border i{
    position:absolute;
    top:-100px;
    right:10px;
    font-size:25px;
    color:white;
     transition:all 0.5s;
}
.border .i-red{
    color:red;
}
.border img{
     height:150px;
    width:150px;
    object-fit:cover;
      transition:all 2s;
}
.card .border img{
       animation:anim 10s infinite;
}
@keyframes anim{
    from{
         transform:rotate(0deg);
    }
    to{
         transform:rotate(360deg);
    }
}
.central-div{
    display:flex;
    justify-content:space-between;
    padding:20px 10px;
}
.central-div .fa-bookmark{
   font-size:1px;
}
.central-div .fa-bookmark-red{
    color:red;
    border:none;
}
.price p{
    color:#54627B;
    padding:0px 10px;
}
</style>

<div class="d-flex justify-content-between align-items-center">
  <h2 style="color: rgb(230, 64, 155)">{{ product.name }}</h2>
  <div>
    {%if request.user == event.user or user.is_superuser%}
    <a
      class="btn btn-outline-success"
      href="{% url 'product-edit' pk=product.pk %}"
      >Edit</a
    >
    {%endif%}
    <br /><br />
    <div>
      <a href="{% url 'cart_add' id=product.id %}" class="btn btn-outline-info"
        >Add to Cart</a
      >
    </div>
  </div>
</div>
<br /><br />
<div class="container">
  <div
    class="card"
    
  >
    <div
      class="border"
      
      
    >
      <i class="fa fa-heart"></i>
      {% if product.image %}
      <img
        class="product-image"
        
        
        src="{{product.image.url}}"
        width="200"
      />
      {%endif%}
    </div>
    <div
      class="central-div"
      
    >
      <h3 style="
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      padding: 2px 1px;
    " 
      >
        {{ product.description }}
      </h3>
      <i class="fa fa-bookmark"></i>
    </div>
    <div class="price" >
      <p>${{ product.price|floatformat:2 }}</p>
    </div>
  </div>
</div>

{% endblock content %}
