{% extends 'base.html' %} {% block content %}
<h1>All Product</h1>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  {% if request.user == product.user or perms.product.add_product %}
  <a class="btn btn-outline-success" href="{% url 'product_add' %}"
    >Add Product</a
  >
  {%endif%}
</div>
<div>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li
        class="page-item{% if not page_obj.has_previous %} disabled{% endif %}"
      >
        <a
          class="page-link"
          href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}"
          >Previous</a
        >
      </li>
      {% for page in page_obj.paginator.page_range %}
      <li class="page-item">
        {% if page == paginator.ELLIPSIS %}
        <span class="page-link disabled">{{ page }}</span>
        {% else %}
        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
        {% endif %}
      </li>
      {% endfor %}
      <li class="page-item{% if not page_obj.has_next %} disabled{% endif %}">
        <a
          class="page-link"
          href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}"
          >Next</a
        >
      </li>
    </ul>
  </nav>
</div>
<br />
<br />
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for product in page_obj %}
  <div class="card mt-2">
    <div>
      <br />
      <div class="card-body">
        <a href="{% url 'product_details' pk=product.pk %}">
          <h5 class="card-name fw-bold" style="color: rgb(231, 117, 132)">
            {{ product.name }}
          </h5></a
        >
        {% if product.image %}
        <img class="card-img-top" src="{{product.image.url}}" width="200" />

        {%endif%}
        <p class="card-text">{{product.description|truncatewords:30 }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
