{% extends "base.html" %} {% block title %}Categories {%endblock title %}
{%block content %}
<h1>Categories</h1>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a class="btn btn-info" href="{% url 'category_add' %}">Add new Category</a>
</div>
<div class="col-md-4">
  
  <a href="{% url 'product_list' %}">All</a>
  {% for category in cat_list %}
  <li>
    <a href="{% url 'product_list' %}?category={{category.name}}">{{ category.name }}</a>
  </li>
  {% endfor %}
</div>
{% endblock content %}